.faqs {
	h4 {
		text-align: center;
		font-size: 2.8rem;
		margin: 0 0 2rem;
	}

	.accordion {
		.accordion-item {
			border: 0;

			.accordion-header {
				.accordion-button {
					background-color: transparent;
					font-size: 1.8rem;
					border-bottom: solid #ccc 1px;
					box-shadow: none;

					&:focus {
						box-shadow: none;
					}

					&:not(.collapsed) {
						box-shadow: none;
					}
				}
			}

			.accordion-collapse {
				.accordion-body {
					font-size: 1.8rem;

					p {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}